{% from "frontend/macros/back_button.html.twig" import backButton %}
{% from "frontend/macros/index_class_row.html.twig" import indexClassRow %}
{% extends 'base_page.html.twig' %}

{% block content %}
    <div class="flex flex--align-center flex--gap-100 mb-75">
        {{backButton("#")}}<h1 class="heading-1 text-gradient">Detail indexu</h1>
    </div>

    <div class="rectangle rectangle--l mb-75">
            <div>
                <h2 class="heading-2 mb-50 flex flex--align-center flex--gap-50"><span class="icon icon-24">{{ source('@svg/bar_chart_4_bars.svg') }}</span>Jak se vede jednotlivým třídám</h2>
            </div>
            <div class="mb-100">
                <span class="text-s text-secondary">Poslední průzkum 18. 4. 2023</span>
            </div>
            <div class="grid grid--3-columns grid--gap-50">
                {% for i in 0..8 %}
                    <div class="rectangle rectangle--s rectangle--grey rectangle--border-none rectangle--spacing-50 flex flex--column flex--gap-50">
                        {% for i in 0..2 %}
                            {{ indexClassRow('#', '3. B', 83, false) }}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
{% endblock %}