.form__row {
    margin-bottom: 24px;
    position: relative;
}

.form__input {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 12px;
    align-self: stretch;
    height: 50px;
    border-radius: var(--radius-s, 12px);
    border: 1px solid var(--other-stroke, #EAEAEA);
    background: var(--surface-surface-form-active, #FFF);
    font-size: 18px;
    line-height: 26px;

    &::placeholder {
        color: var(--text-text-secondary, #A6A6A6);
    }

    &--full {
        width: 100%;
    }
}

.form__additional-link {
    display: inline-block;
    margin-left: auto;
    margin-top: 12px;
    text-decoration: none;
    color: var(--text-text-secondary, #A6A6A6);
    font-size: 14px;
    font-weight: 600;
}

.form__radio {
    &:checked + .rectangle {
        border-width: 2px;
        border-color: var(--button-button-primary, #5846CF);
    }
}