.page-header {
    width: 100%;
    padding: var(--spacing-100, 24px);
    padding-bottom: var(--spacing-50, 12px);
    box-sizing: border-box;

    &__sides {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    &__side {
        display: flex;
        align-items: center;
        gap: var(--spacing-100, 24px);

        &--gap-200 {
            gap: var(--spacing-200, 48px);
        }
    }

    &__item {
        display: flex;
        align-items: center;
        gap: var(--spacing-50, 12px);
    }

    &__dot {
        display: inline-block;
        width: 12px;
        height: 12px;
        border-radius: var(--radius-full, 360px);
        background: var(--other-notification, #E24747);;
    }
}