.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    &__rectangle {
        border-radius: var(--radius-l, 24px);
        border: 1px solid var(--other-stroke, #EAEAEA);
        background: var(--surface-surface-tiles, #FFF);
        position: relative;
        padding: 48px;
    }

    &__logo {
        position: absolute;
        top: -80px;
        left: 50%;
        transform: translateX(-50%);
        display: block;
        text-decoration: none;

        img {
            height: 37px;
            width: auto;
        }
    }

    &__form {
        width: 500px;
    }
}