{% import "frontend/macros/circle_progress.html.twig" as cp %}
{% from "frontend/macros/report_row.html.twig" import row, rowMeter %}
{% from "frontend/macros/back_button.html.twig" import backButton %}
{% extends 'base_page.html.twig' %}
{% trans_default_domain 'indexes' %}

{# Blok k nastaven칤 translate messages #}
{% if result.healthyRelationshipsIndex <= 0.5 %}
    {% set healthyRelationshipMessage = "healthy_relationships.children.low.description"|trans %}
    {% set healthyRelationshipRecommendation = "healthy_relationships.children.low.recommendation"|trans %}
{% elseif result.healthyRelationshipsIndex > 0.5 and result.healthyRelationshipsIndex <= 0.75 %}
    {% set healthyRelationshipMessage = "healthy_relationships.children.middle.description"|trans %}
    {% set healthyRelationshipRecommendation = "healthy_relationships.children.middle.recommendation"|trans %}
{% else %}
    {% set healthyRelationshipMessage = "healthy_relationships.children.high.description"|trans %}
    {% set healthyRelationshipRecommendation = "healthy_relationships.children.high.recommendation"|trans %}
{% endif %}

{% block content %}
<div class="flex flex--align-center flex--gap-100 mb-75">
    {{backButton("#")}}<h1 class="heading-1 text-gradient">Detail reportu</h1>
</div>

<div class="rectangle rectangle--l mb-75">
    <h2 class="heading-2 mb-25">Mapa vztah콢 ve t콏칤d캩</h2>
    <div>
        SOCIOGRAM GOES HERE
    </div>
</div>
<div class="rectangle rectangle--l mb-75">
    <h2 class="heading-2 mb-100">V칳sledky</h2>
    <div>
        <div class="rectangle rectangle--s rectangle--grey rectangle--border-none mb-100">
            <div class="">
                {{ rowMeter((result.healthyRelationshipsIndex * 100)|round, "medium", "healthy_relationships.title"|trans, 4, healthyRelationshipMessage,"", "healthy_relationships.description"|trans) }}
            </div>
        </div>

        <div class="rectangle rectangle--s rectangle--grey rectangle--border-none">
            <h3 class="heading-3 mb-100">Jak se c칤t칤te jako t콏칤da</h3>
            <div class="grid grid--2-columns grid--gap-100">
                {% for i in 0..3 %}
                    <div>
                        <h1 class="heading-1 mb-25 flex flex--gap-50 flex--align-center">游뱘 <span class="heading-3">26/32</span></h1>
                        <p class="text-xs text-secondary">Lorem ipsum dolor sit amet consectetur. Eget iaculis eget cras dolor. Tincidunt sit molestie bibendum lobortis. Molestie lectus luctus dui non purus vulputate. Cras lectus in ac mattis eget amet tortor malesuada.</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="rectangle rectangle--l mb-75">
    <h2 class="heading-2 mb-100">Doporu캜en칤</h2>
    <div>
        <div class="mb-100">
            <h4 class="heading-4 mb-25">V칳stupy anal칳zy</h4>
            <p class="text-secondary text-xs">
                Luk치코 je velmi obl칤ben칳m spolu쮂멺em. Podle sv칳ch spolu쮂멺콢 m치 vedouc칤 pozici uvnit콏 u쮄뫆 skupinky n캩kolika d캩t칤. Z치rove켿 v코ak v캩t코칤 mno쬽tv칤 spolu쮂멺콢 uvedlo, 쬰 Luk치코 m치 siln칠 negativn칤 vztahy s n캩ter칳mi jedinci. Vzhledem ke sv칠 prominentn칤 pozici uvnit콏 t콏칤dy pak Luk치코 m콢쬰 do zna캜n칠 m칤ry uvliv켿ovat ostatn칤 d캩ti.
            </p>
        </div>
        <div class="mb-100">
            <h4 class="heading-4 mb-25">Na z치klad캩 v칳sledk콢 anal칳zy doporu캜ujeme n치sleduj칤c칤:</h4>
            <ul class="text-secondary text-xs list-ul">
                <li>{{ healthyRelationshipRecommendation }}</li>
                <li>V코칤mat si projev콢 nevra쬴vosti Luk치코e v콢캜i jin칳m spolu쮂멺콢m.</li>
                <li>V코칤mat si projev콢 nevra쬴vosti Luk치코e v콢캜i jin칳m spolu쮂멺콢m.</li>
                <li>V코칤mat si projev콢 nevra쬴vosti Luk치코e v콢캜i jin칳m spolu쮂멺콢m.</li>
            </ul>
        </div>
    </div>
</div>
<div class="rectangle rectangle--l mb-75">
    <h2 class="heading-2 mb-100">Knihovna materi치l콢</h2>
    <div>
        <ul>
            {% for i in 0..2 %}
                <li class="{% if not loop.last %}mb-100{% endif %}">
                    <a href="#" class="no-decoration button button--secondary button--s button--flex-inline">{{ source('@svg/content-copy.svg') }}Lorem ipsum dolor.pdf</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}